.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.circle{
  position:absolute;
  z-index:2
}

.double{
  height:250px;
  z-index:5;
}

.btn{
  cursor:pointer;
}

.btn2{
  cursor:pointer;
}

.page{
  height:500px;
  width:400px;
  background-color:#EBE6DF;
  border-radius:20px;
  outline-style: solid;
  outline-color: #EBE6DF;
  border-style:solid;
  border-color:#282c34;
}

.name{
  color:black;
}

.but{
  width:100px;
  height:40px;
  font-size:16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
